.container{
    display: block;
    height: 60rem;
    text-align: center;
    margin: auto;
    padding:2rem;
    
}
.dashboard-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.switch-option{
    display: flex;
    justify-content: center;
    align-items: center;
}

.option{
    display: flex;
    margin:2rem;
    height: 22rem;
    width: 22rem;
    background-color: rgba(255, 235, 205, 0.589);
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.text{
    text-decoration: none;
    color: #222;
}